EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBRX0ev0-eFXskhVSs0Vsuz7ECXMNlQeFg
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=gestordetareas-idat-final.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=gestordetareas-idat-final
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=gestordetareas-idat-final.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=486102394437
EXPO_PUBLIC_FIREBASE_APP_ID=1:486102394437:web:af812de1dd017df915a52c
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=